.editor-container {
  background: linear-gradient(to bottom right, #000000, #008000);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ae-title {
  align-self: center;
  color: white;
  margin: 0.5rem;
}

.editor-wrapper {
  color: white;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.problem-list {
  background-color: rgb(80, 80, 80);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000000 2px solid;
  overflow-y: auto;
}

.editor-pane {
  background-color: rgb(80, 80, 80);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000000 2px solid;
}

.editor-render {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.editor-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.editor-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.editor-pane-header {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.left-pane {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 50%;
  margin-left: 1rem;
}

.input-form {
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444; /* or your preferred shade */
  color: white;
}

.input-form legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-form label {
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

input[type="range"] {
  width: 100%;
  margin-top: 0.5rem;
  
}

.apply-button {
  width: 60%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}

.right-pane {
  display: flex;
  width: 50%;
  border: 1px solid #ccc;
  margin-right: 1rem;
}

.pane-header {
  margin-left: 1rem;
  margin-top: 1rem;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}

.next-button {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: 6rem;
}

.cancel-button {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  width: 6rem;
}

input[type='range'] {
  width: 100%;
  margin-top: 0.5rem;
}
