.nav-container {
  position: sticky;
  width: 100%;
  background-color: #000000; /* dark gray for visibility */
  padding: 0 2rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar-left,
.navbar-right {
  flex: 0 0 auto;
}

.navbar-logo {
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  padding-top: 5px;
}

.nav-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 4rem;
  position: relative;
}

.nav-item {
  color: white;
  background-color: #000000;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #008000;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #000000;
  padding: 20px;
}

.submenu-item {
  color: white;
}

.submenu-item:hover {
  color: #008000;
}